doctype html
mixin item(title, url)
  li
    a(href=url class=path === url ? 'active' : '')=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  span=url
    ul
    +item('Strona główna', './')
    +item('Aktualnośc', './news')
    +item('Quiz', './quiz')
    +item('admin', './admin')

    block content
